<div class="topbar flex flex-v-center flex-h-between">
  <div>
    <%= link_to 'http://www.unep-wcmc.org', title: 'The UN Environment World Conservation Monitoring Centre', target: '_blank' do %>
      <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg', alt: 'UN Environment World Conservation Monitoring Centre Logo', class: 'topbar__logo-unep-wcmc' %>
    <% end %>

    <%= link_to 'https://www.cbd.int/', title: 'Convention on Biological Diversity', target: '_blank' do %>
      <%= image_tag 'logos/logo-cbd-green.svg', alt: 'Convention on Biological Diversity Logo', class: 'topbar__logo-cbd' %>
    <% end %>
  </div>

  <div class="links">
    <span class="icon--contact">
      <span class="contact--address">contact@contact.org</span>
    </span>

    <modal-trigger type="social" class="breakpoint-small-down">
      <span class="icon--social-modal-trigger"></span>
    </modal-trigger>
  </div>

  <div class="breakpoint-small-up">
    <%= render 'global/social' %>
  </div>
</div>
