<div class="topbar flex flex-v-center flex-h-between">
  <div>
    <%= link_to 'http://www.unep-wcmc.org', title: 'The UN Environment World Conservation Monitoring Centre', target: '_blank' do %>
      <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg', alt: 'UN Environment World Conservation Monitoring Centre Logo', class: 'topbar__logo-unep-wcmc' %>
    <% end %>

    <%= link_to 'https://www.cbd.int/', title: 'Convention on Biological Diversity', target: '_blank' do %>
      <%= image_tag 'logos/logo-cbd-green.svg', alt: 'Convention on Biological Diversity Logo', class: 'topbar__logo-cbd' %>
    <% end %>
  </div>

  <div class="links">
    <a class="topbar__contact" href="mailto:post-2020@unep-wcmc.org?subject=Post 2020 Feedback">
      <i class="icon--contact"></i>
      <span class="topbar__contact-icon">post-2020@unep-wcmc.org</span>
    </a>

    <div class="breakpoint-small-up">
      <%= render 'global/social' %>
    </div>

    <modal-trigger type="social" class="breakpoint-small-down">
      <span class="icon--social-modal-trigger"></span>
    </modal-trigger>
  </div>
</div>
