<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'global/head' %>
  </head>

  <body>
    <div id="v-app" v-cloak>
      
      <modal-wrapper></modal-wrapper>
      <modal>
        <div slot="hero">
          <%= render 'global/hero' %>          
        </div>
        
        <div slot="social">
          <p>Share using:</p>
          <%= render 'global/social' %>
        </div>
      </modal>

      <back-to-top></back-to-top>
      
      <reveal-wrapper></reveal-wrapper>
      <reveal-target>
        <filters :filters="<%= @filters %>"></filters>
      </reveal-target>

      <header id="v-header" class="header">
        <%= render 'global/topbar' %>

        <%= render 'global/control-bar' %>
      </header>
      
      <%= yield %>

    </div>

    <%= render 'global/footer' %>

    <%= javascript_pack_tag 'application' %>
    <% if Rails.env == 'production' %>
      <%= render 'shared/google_analytics' %>
    <% end %>

  </body>
</html>
