<!DOCTYPE html>
<html>
  <head>
    <%= render 'global/head' %>    
  </head>

  <body>

    <%= render 'global/topbar' %>

    <div id="v-app">
      <reveal-target>
        <filters :filters="<%= @filters %>"></filters>
      </reveal-target>
      
      <%= render 'global/header' %>

      <%= render 'global/control-bar' %>

      <%= yield %>

    </div>

    <%= render 'global/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
