<!DOCTYPE html>
<html>
  <head>
    <%= render 'global/head' %>    
  </head>

  <body>
    <div id="v-app">

      <modal></modal>
      <modal-wrapper></modal-wrapper>

      <back-to-top></back-to-top>

      <reveal-target>
        <filters :filters="<%= @filters %>"></filters>
      </reveal-target>

      <header id="v-header" class="header">
        <%= render 'global/topbar' %>
        <%= render 'global/control-bar' %>
      </header>
      
      <%= yield %>

    </div>

    <%= render 'global/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
