<!DOCTYPE html>
<html>
  <head>
    <%= render 'global/head' %>    
  </head>

  <body>
    <div id="v-app">

      <reveal-target>
        <filters :filters="<%= @filters %>"></filters>
      </reveal-target>

      <sticky-nav>
        <%= render 'global/topbar' %>

        <%= render 'global/header' %>

        <%= render 'global/control-bar' %>
      </sticky-nav>
      
      <%= yield %>

    </div>

    <%= render 'global/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
