<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'global/head' %>
  </head>

  <body>
    <div id="v-app" v-cloak>

      <%= yield %>

      <%= render 'global/footer' %>
    </div>

    <%= javascript_pack_tag 'application' %>

    <% if Rails.env == 'production' %>
      <%= render 'shared/google_analytics' %>
    <% end %>

  </body>
</html>
