<!DOCTYPE html>
<html>
  <head>
    <%= render 'global/head' %>    
  </head>

  <body>
    <div id="v-app">

      <modal></modal>
      <modal-wrapper></modal-wrapper>

      <reveal-target>
        <filters :filters="<%= @filters %>"></filters>
      </reveal-target>

      <sticky>
        <%= render 'global/topbar' %>
        
        <div class="header-wrapper" slot="header">
          <%= render 'global/header' %>
        </div>
        
        <div slot="control-bar">
          <%= render 'global/control-bar' %>
        </div>
      </sticky>
      
      <%= yield %>

    </div>

    <%= render 'global/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
